<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/default.css" type="text/css">
    {% block head %}{% endblock %}
  </head>
  <body>
{% block content %}
<h1>{{tittel}}</h1>
<nav>
    <a href="{{'/'}}">Hjem</a>
</nav>

{% if innledning %}
    {% for avsnitt in innledning %}
        {{innledning}}
    {% endfor %}
    <hr>
{% endif %}

{% block skjema %}
{% if skjema %}
  {% if skjema.errors %}
    <ul class="error">
      {% for field_name, field_errors in skjema.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ skjema[field_name].label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
  <form method='GET'>
    {% for felt in skjema %}
      <p>
        {{ felt.label if not felt.type=='SubmitField' }}
        {{ felt }}
      </p>
    {% endfor %}
  </form>
  <hr>
{% endif %}
{% endblock %}
{% block output %}
{% if utdata is mapping %}
  <dl>
  {% for k, v in utdata.items() %}
    <dt>{{k}}</dt><dd>{{v}}</dd>
  {% endfor %}
  </dl>
{% elif utdata is iterable %}
  {% for data in utdata %}
    <p>{{data}}</p>
  {% endfor %}
{% else %}
  <p>{{utdata}}</p>
{% endif %}
{% endblock %}
{% endblock %}
  </body>
</html>
