<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Biler</title>
  </head>
  <body>
    <table>
      <tr>
        <th>uttrykk</th>
        <th>verdi</th>
      </tr>
      <tr>
        <td><code>biler</code></td>
        <td>{{biler}}</td>
      </tr>
      <tr>
        <td><code>navn</code></td>
        <td>{{navn}}</td>
      </tr>
      <tr>
        <td><code>biler.Loke</code></td>
        <td>{{biler.Loke}}</td>
      </tr>
      <tr>
        <td><code>biler['Loke']</code></td>
        <td>{{biler['Loke']}}</td>
      </tr>
      <tr>
        <td><code>personer</code></td>
        <td>{{personer}}</td>
      </tr>
      <tr>
        <td><code>personer[0]</code></td>
        <td>{{personer[0]}}</td>
      </tr>
      <tr>
        <td><code>biler[personer[0]]</code></td>
        <td>{{biler[personer[0]]}}</td>
      </tr>      
    </table>
  </body>
</html>