{% extends 'base.html' %}
{% block content %}
<p>{{beskjed}}</p>
<hr>

{% if skjema.errors %}
    <ul class="flash">
        {% for field_name, field_errors in skjema.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ skjema[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<form method='GET'>
    {{ skjema.innhold.label }}
    {{ skjema.innhold }}
    <input type='submit' value='Send inn'>
</form>
</input>
{% endblock %}