@charset "UTF-8";
html {
    background: #ececec;
}
body {
    max-width: 610px;
    margin: 0.6em auto;
    background: white;
    font-family: Calibri, serif;
    padding: 0 0 0.6rem 0;
    border-radius: 0.3rem;
    border: 1px solid #cccccc;
    line-height: 1.5em;
}
body * {
    max-width: 100%;
    border-width: inherit;
    border-color: inherit;
    border-radius: revert;
    margin-top: .2em;
    margin-bottom: .2em;

}
h2, h3, h4, h5, h6, hr, table, blockquote, p, img, pre, form, dl{
    margin: 0.3rem 0;
    padding: 0.2em 0.6rem;
}
table, p, pre, for, dl {
    line-height: 1.2
}
h1 {
    margin: 0.1rem 0, 0, 0;
    padding: 0.2em 0.6rem;
    border-radius: 0.3rem 0.3rem 0 0;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    border-style: solid;
    line-height: 1;
    margin: -1px, .6em;
}
h1 {
    background: #b3cde3;
    line-height: 1.5;
    margin: -1px;
}
h2 {background: #fed9a6;}
h3 {background: #ccebc5;}
h4 {background: #fbb4ae;}
h5 {background: #decbe4;}
h6 {background: #ffffb3;}


hr {
    border-style: dashed;
    padding: 0;
}

table {
    font-family: "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    border-collapse: collapse;
    margin: 0.3em 0.6em;
    padding: 0.6em;
}

td {
    margin: 0;
    border: 1px solid;
    padding: 0.3rem 0.6rem
}

label {
    margin-right: 0.3em;
}
input, select {
    border-width: 1px;
    border-radius: .3em;
}

input.tall {
    width: 2.4em;
    text-align: right
}

dt {
    font-weight: bold;
}


blockquote {
    margin: 0.3em 0.6rem;
    background: #fafafa;
    border-width: 2px;
    border-style: dashed none;
    border-radius: revert;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    max-width: -webkit-fill-available;
}


.regneark td:focus-within {
    background: lightyellow;
}

.regneark input{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    background: transparent;
    line-height: 2;
    border: none;
    outline: none;
}
.regneark td{
    padding: 0 0.1em;
    margin: 0;
    border: 1px solid;
    border-radius: 0;
    text-align: right;

}
.regneark th{
    padding: 0 0.3em;
    margin: 0;
}
nav {
    background: #cccccc;
    padding: 0.3em;
    margin-bottom: 0.6rem;
}
nav.bak{
    flex-direction: row;
    display: flex;
    justify-content: center;
}
nav a {
    font-weight: bold;
    color: black;
    padding: 0.15em;
    text-decoration: none;
}

nav a:hover{
    background: #aaaaaa;
    border-radius: 0.6rem
}
code, pre, .code {
    font-family: 'SF Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size:0.875em;
}
pre {
    line-height: 1.5;
    background: #fafafa;
    border-style: solid;
    overflow: auto;
}
code {
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
    background-color:#f8f8f8;
    box-shadow:0 0 0.1em 0.1em #ddd;
    line-height:0.875em;
    padding: 0 0.3em;
    border-radius: 0.3em;
    }
code a {
    text-decoration:none;
}
.error {
    margin: 0.3em 0.6rem;
    padding: 0.9em 1.2em;
    color: #222;
    background: pink;
    border-color: error;
    border-width: 2px;
    border-style: dashed none;
    border-radius: revert;
}
.console {
    background: #111; color: #a3f500; font-weight: bold;
    margin: 0 0 0.6em 0;
    padding: 1em;
    font-family: 'Courier New', Consolas, monospace}

dt {
  float: left;
  clear: left;
  margin-right: 1em;
}

:is(h3, h4, h5, h6, h7) a {text-decoration: unset;}

